/**
 * This file contains all the styles required for the
 * timeline html elements
 */

.html-historic-element {
  transition: 0.8s;
  position: fixed;
  transform-origin: center;
}

.html-historic-element-animate-fade-hide {
  transform: scale(0);
}

.html-historic-element-animate-fade-show {
  transform: scale(1);
}

 #ie-window-frame-current-year {
   position: absolute;
   right: 10px;
   top: 60px;
   background: #fff;
 }

 #ie-window-frame-current-year-content {
   color: rgba(0, 0, 0, 0.8);
   display: inline-block;
 }

 #ie-window-frame-current-year-label {
   font-size: 14px;
   display: inline-block;
 }

 #ie-window-frame-action-header {
   height: 29px;
   width: 100%;
   background: rgb(32, 124, 249);
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
 }

 #ie-window-frame-body {
   height: 100%;
   box-sizing: border-box;
 }

 #ie-window-frame-body-inner {
   height: 100%;
   width: 100%;
   overflow: auto;
 }

 #ie-window-frame-body-inner-inner {
   height: 1476px; /* 492*3 */
   position: relative;
   z-index: 10;
 }

 #ie-window-frame-footer {
   width: 100%;
   height: 24px;
 }

 #ie-window-frame-footer-container {
   width: 100%;
   height: 100%;
   background-color: #f6f3ef;
 }

 #ie-window-frame-sub-action-links-header {

 }

 #ie-window-frame-sub-action-header-container-links {
   background-image: url("../img/window_macro_controls.png");
   height: 28px;
   width: 400px;
   background-position: center;
   background-size: cover;
 }

 #ie-window-frame-sub-action-links-header-container {
   height: 26px;
   background-color: #f6f3ef;
   border-bottom: 1px solid grey;
 }

 #ie-window-frame-sub-action-links-header-container ul {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 #ie-window-frame-sub-action-links-header-container ul li {
   list-style: none;
   display: inline-block;
   padding: 0;
 }

 #ie-window-frame-sub-action-links-header-container ul li:hover {
   box-shadow: 0px 1px 0px 2px grey;
   cursor: pointer;
 }

 #ie-window-frame-sub-action-links-header-container ul li:first-child {
   padding-left: 12px;
 }

 #ie-window-frame-sub-action-links-header-container ul li a:link,
 #ie-window-frame-sub-action-links-header-container ul li a:visited
 {
   display: block;
   text-decoration: none;
   font-size: 14px;
   color: #000;
   padding: 6px 6px;
   line-height: 1;
 }

 #ie-window-frame-sub-action-links-header-container ul li a:active,
 #ie-window-frame-sub-action-links-header-container ul li a:hover
 {
   text-decoration: underline;
 }

 #ie-window-frame-sub-action-header {

 }

 #ie-window-frame-sub-action-header-container {
   height: 28px;
   background-color: #f6f3ef;
 }

 #ie-window-frame-action-header,
 #ie-window-frame-sub-action-links-header,
 #ie-window-frame-sub-action-header,
 #ie-window-frame-body,
 #ie-window-frame-footer
 {
   display: table-row;
 }

 #ie-window-frame {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8 );
   display: table;
   border-top-right-radius: 6px;
   border-top-left-radius: 6px;
   overflow: hidden;
 }

 #ie-window-frame-action-header-title,
 #ie-window-frame-action-header-controls
 {
   display: inline-block;
 }

 #ie-window-frame-action-header-title {
   line-height: 1;
   font-family: cursive;
   font-weight: bold;
   font-size: 15px;
   padding: 7px;
   color: #fff;
 }

 #ie-window-frame-action-header-controls {
   background-image: url("../img/window_controls.png");
   width: 69px;
   height: 23px;
   background-position: center;
   background-size: cover;
   float: right;
   margin: 3px;
 }

 html,
 body
 {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
 }

 #ie-window-container {
   width: 100%;
   height: 100%;
   background-image: url('../img/windows-xp-background.jpg');
   background-size: cover;
   background-position: center;
 }

 #ie-window-draggable {
   width: 800px;
   height: 600px;
   z-index: 2;
   position: absolute;
 }

 #ie-crash-window-draggable {
   width: 419px;
   height: 289px;
   background-image: url("../img/ie-crashed.jpg");
   background-size: cover;
   background-position: center;
   z-index: 2;
   position: absolute;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
 }

 #ie-crash-window-draggable-close {
   content: '';
   display: block;
   position: absolute;
   top: 6px;
   right: 6px;
   width: 19px;
   height: 19px;
   border-radius: 3px;
   background-color: transparent;
   transition: 0.3s;
 }

 #ie-crash-window-draggable-close:hover {
   background-color: rgba(146, 33, 33, 0.8);
   cursor: pointer;
 }

 #ie-crash-window-draggable-continue {
   content: '';
   display: block;
   position: absolute;
   bottom: 21px;
   right: 11px;
   width: 98px;
   height: 19px;
   border-radius: 3px;
   background-color: transparent;
   transition: 0.3s;
 }

 #ie-crash-window-draggable-continue:hover {
   background-color: rgba(23, 105, 193, 0.8);
   cursor: pointer;
 }

 #ie-crash-window-draggable-advanced {
   content: '';
   display: block;
   position: absolute;
   bottom: 21px;
   left: 15px;
   width: 73px;
   height: 19px;
   border-radius: 3px;
   background-color: transparent;
   transition: 0.3s;
 }

 #ie-crash-window-draggable-advanced:hover {
   background-color: rgba(23, 105, 193, 0.8);
   cursor: pointer;
 }

 .ie-crash-window-draggable-hide {
   display: none;
 }
